
 .flex-container-top {
   display: block;
   min-height:300px;width:33.33%;float:left;
   border: 1px solid #000 !important;
    }
 .flex-container-mid {
   display: block;
   min-height:300px;width:20%;float:left;
    border: 1px solid #000 !important;
 }
 .flex-container-bot {
    display: block;
    min-height:300px;width:50%;float:left;
    border: 1px solid #000 !important;

 }
  .flex-container-top > div {
        margin: 10px;
       text-align: center;

  }
  .flex-container-top > div > p {
        margin:15px;
        text-align: left;
        font-size: 13px;
  }
  .flex-container-top > div > ul {
        margin:15px;
          text-align: left;
          font-size: 13px;
  }
  .flex-container-mid > div {
         margin: 10px;
         text-align: center;

  }
  .flex-container-mid > div > p {
        margin:15px;
          text-align: left;
          font-size: 13px;
  }
  .flex-container-mid > div > ul {
        margin:15px;
            text-align: left;
            font-size: 13px;
  }
 .flex-container-bot > div {
          margin: 10px;
          text-align: center;

 }
 .flex-container-bot > div > p {
        margin:15px;
           text-align: left;
           font-size: 13px;
 }
 .flex-container-bot > div > ul {
        margin:15px;
             text-align: left;
             font-size: 13px;
 }
 .img-container {
 margin:5px;
 width:60px;
 height:30px;
 float:left;
 }

 .wrapper{width:100%;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;padding:60px 0;}.wrapper:after{content:" ";display:block;clear:both;}
 /*.wrapper article{min-height:310px;width:90%;float:left;}*/
 .wrapper article{min-height:200px;max-height: 300px;width:32.88%;float:left;border-style: groove;}
 .wrapper article20{min-height:200px;max-height: 300px;width:19.6%;float:left;border-style: groove;}
 .wrapper article50{min-height:200px;max-height: 300px;width:49.5%;float:left;border-style: groove;}
 .wrapper aside{width:20%;float:right;}.wrapper aside ul{margin:2px 0 30px;}.wrapper aside ul a{display:block;padding:3px 0 3px 10px;margin:2px 0;border-left:4px solid #eee;}.wrapper aside ul a:hover{border-color:#80c846;}
 .wrapper aside h3{font-size:18px;color:#333;font-weight:bold;line-height:2em;margin:32px 9px 0;border-bottom:1px solid #eee;}
 .wrapper aside.stick{position:fixed;right:50%;margin-right:-480px;top:120px;bottom:0;overflow:hidden;}

 